<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ absolute_url(asset('css/app.css')) }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <div class="header-login">
                    {% if app.user %}
                        <p>Hello {{ app.user.email }}!</p>
                        <a href="{{ logout_path() }}">Logout</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
