{% extends 'base.html.twig' %}
{% block content %}

    <h2>Create new product:</h2>
    <div class="product-form">
        {{ form_start(form) }}
            <div class="errors-container">
                {{ form_errors(form) }}
            </div>

            <div class="form-element-wrapper">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-element-wrapper">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_widget(form.currency) }}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            <div class="form-element-wrapper">
                {{ form_label(form.description) }}
                <div class="description-control-wrapper">
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-error">
                    {{ form_errors(form.description) }}
                </div>
            </div>

        {{ form_end(form) }}
    </div>


{% endblock %}