{% extends 'base.html.twig' %}
{% block content %}
    <div class="product-list">
        {% if app.user and is_granted('ROLE_ADMIN')%}
            <div class="product-list-create-button-container">
                <a href="{{ path('create_product') }}">Add new product</a>
            </div>
        {% endif %}
    {% for product in pagination %}
        <div class="product-list-item" data-id="{{ product.id }}">
            <div class="summary">
                <div class="product-name">{{ product.name }}</div>
                <div class="price">Price: {{ product.formattedPrice }} {{ product.currency }}</div>
                <div class="date-added">Added: {{ product.createdAt | date('Y-m-d') }}, {{ product.createdAt | date('H:i:s') }}</div>
            </div>
            <div class="info">
                <div class="product-desc">{{ product.description }}</div>
            </div>
        </div>

    {% endfor %}
    </div>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}