body{
    background-color: #efefef;
}

.main-container{
    width: 1024px;
    margin: 0 auto;
}


.header-login{
    width: 300px;
    float: right;
    text-align: right;
}

.header::after{
    content: "";
    clear: both;
    display: table;
}

.product-list{
    margin: 10px auto;
}

.product-list-item .product-name{
    font-weight: bold;
}
.product-list-item .date-added{
    margin-top: 5px;
}

.product-list .summary, .product-list .info{
    float: left;
}

.product-list .summary{
    width: 25%;
    text-align: center;
}

.product-list .info{
    width: 75%;
}

.product-list-item{
    margin-bottom: 25px;
}

.product-list-item::after{
    content: "";
    clear: both;
    display: table;
}

.pagination{
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.login-form .form-element-wrapper{
    margin: 10px;
}

.login-form .form-element-wrapper label{
    width: 65px;
    display: inline-block;
}

.product-list-create-button-container{
    text-align: right;
}

.product-list-create-button-container a{
    background-color: #87CEFA;
    color: #FFFFFF;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

.product-form .form-element-wrapper{
    margin-bottom: 10px;
}
.product-form .form-element-wrapper label{
    width: 65px;
    display: inline-block;
}

.product-form .form-element-wrapper .description-control-wrapper textarea{
    width: 300px;
    height: 50px;
}

.product-form .form-element-wrapper .form-error ul{
    list-style: none;
    color: red;
    padding: 0;
    margin: 0 0 15px 0;
}